.input-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
}

.input-box input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 2%;
    margin-top: 10px;
   border: 1px solid rgb(128, 127, 127);

}

.for-names {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 20px;
}

.for-names input {
    padding-left: 5%;
}

.input-box label {
    font-size: 12px;
    font-weight: bold;
}

.input-details span {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mailing-list label {
    font-size: 14px;
}

.button-submit button {
    margin-top: 15px;
    width: 455px;
    height: 60px;
    background-color: #e69d6e;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    font-size: medium;
    font-weight: bold;
}